.container2 {
    display: flex;
    height: 100vh;
    padding: 20px;
  }
   
  .left1, .right1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .image {
    width: 100%;
  }
   
  .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80px;
  }
   
  .reset-password-form1 {
    padding: 60px;
    border-radius: 10px;
    text-align: center;
    margin-right: 40%;
    margin-bottom: 10%;
  }
   
  .email-section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 210px;
  }
   
  .email-section1 label {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #333333;
  }
   
  .email-section1 input {
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
    width: 240px;
    margin-right: 10px;
    background-color: #e7eee1;
  }
   
  .email-section1 .email-input1 {
    width: 100%;
    padding-right: 45px;
    font-size: 16px;
  }
   
  .get-otp {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #5f7a61;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 18%;
  }
   
  .otp {
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    outline: none;
    width: 240px;
    margin-right: 10px;
    background-color: #e7eee1;
  }
   
  .verify-otp {
    width: 95%;
    padding: 10px;
    border: none;
    background-color: #5f7a61;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 15px;
  }
   
  .get-otp:hover, .reset-password:hover {
    background-color: #5b8a24;
  }
   
  .or-text {
    margin-left: 27%;
    font-size: 14px;
    color: #888888;
  }
   
  .reset-password1 {
    background-color: #5f7a61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 18%;
    width: 100%;
  }
   
  @media (max-width: 768px) {
    .container2 {
      flex-direction: column;
      padding: 10px;
    }
   
    .reset-password-form1 {
      padding: 40px;
      margin-right: 0;
      margin-bottom: 5%;
    }
   
    .get-otp, .verify-otp, .reset-password1 {
      width: 80%;
      margin-left: 10%;
    }
   
    .or-text {
      margin-left: 0;
      text-align: center;
    }
  }
   
  @media (max-width: 480px) {
    .email-section1 input, .otp {
      width: calc(100% - 20px);
      margin-right: 0;
    }
   
    .get-otp, .verify-otp, .reset-password1 {
      margin-left: 0;
    }
  }